{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<head>
    <script type="text/javascript">
    </script>
</head>
<body>
<script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<h1>This is home page</h1>
{% block main %}
<h1>Intervals</h1>
<ul>
    <form action="/" method="post" role="form">
    <div class="form-group">
        <label for="all_intervals">Select an interval:</label>
        <select class="form-control" id="all_intervals" type="text" name="Interval">
            {% for interval in all_intervals %}
            <option value="{{ interval }}">{{ interval }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="all_tickers">Select list:</label>
        <select class="form-control" id="all_tickers" type="text" name="Ticker">
            {% for ticker in all_tickers %}
            <option value="{{ ticker }}">{{ ticker }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="all_model_types">Select list:</label>
        <select class="form-control" id="all_model_types" type="text" name="Model_Type">
            {% for model_type in all_model_types %}
            <option value="{{ model_type }}">{{ model_type }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="all_model">Select list:</label>
        <select class="form-control" id="all_model" type="text" name="Model">
            {% for model in all_model %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select>
    </div>
          <div>
        <input class="form-check-input" type="checkbox" value="True" id="backtest" name="backtest">Select me
      </div><br><br>

    <button class="btn btn-primary" id="process_input" name="process_input">Predict</button>
    </form>
</ul>
<br><br>

<p id="preds">
</p>
</div>

<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>

<script type="text/javascript">
        console.log('goodbye world')





</script>

{% endblock %}
{% endblock %}
</body>